.shadowed {
	text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.contact-block {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 4rem;
  margin-bottom: 0.5rem;
}
.contact-title {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.contact-subtitle {
  text-transform: uppercase;
  color: #34c48b;
}
.contact-text {
  font-size: 1rem;
  margin-top: 0rem;
}
